<a href="https://colab.research.google.com/github/Anirudh-rao/Python-For-Noobs/blob/main/3_Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in Python:

In `mathematics` and `computer programming`, an operator is a character that represents a specific mathematical or logical action or process. For instance, "x" is an arithmetic operator that indicates multiplication, while "&&" is a logical operator representing the logical AND function in programming.


## Types of Operators in Python:

### 1.Arithmetic operators :
Arithmetic operators are used with numeric values to perform common mathematical operations

**Some Of Operations are**:

In [47]:
# Addition
x = 5
y = 3

print(x + y)

8

In [48]:
#Subtraction
x = 5
y = 3

print(x - y)

2

In [49]:
#Multiplication
x = 5
y = 3

print(x * y)

15

In [50]:
#Division
x = 12
y = 3

print(x / y)

4.0

In [51]:
#Modulo Division - returns Remainder
x = 5
y = 2

print(x % y)

1

In [52]:
#Expnential
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [53]:
#Floor Division
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

### 2.Assignment Operators :
Assignment operators are used to assign values to variables:

**Some of them are:**

In [34]:
# = operator
x = 5

print(x)

5

In [35]:
x = 5

x += 3

print(x)

8

In [36]:
x = 5

x -= 3

print(x)

2

In [37]:
x = 5

x *= 3

print(x)

15

In [38]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [39]:
x = 5

x%=3

print(x)

2

In [40]:
x = 5

x//=3

print(x)

1

In [41]:
x = 5

x **= 3

print(x)

125

In [42]:
x = 5

x &= 3

print(x)

1

In [43]:
x = 5

x |= 3

print(x)

7

In [44]:
x = 5

x ^= 3

print(x)

6

In [45]:
x = 5

x >>= 3

print(x)

0

In [46]:
x = 5

x <<= 3

print(x)

40

### 3.Comparison Operators

Comparison operators are used to compare two values:

**Some of them are:**

In [28]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [29]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [30]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [31]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [32]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [33]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

#### 4.Logical operator
Logical operators are used to combine conditional statements: 
**Some of them are:**

In [54]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [55]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [56]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False