<a href="https://colab.research.google.com/github/Anirudh-rao/Python-For-Noobs/blob/main/4_Conditional_Statments_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditional Statements in Python:

Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

# If Statemets:

In [2]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

# Elif
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [3]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [5]:
if a > b: print("a is greater than b")

a is greater than b

# Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [6]:
a = 2
b = 330
print("A") if a > b else print("B")

B

# Nested If
You can have if statements inside if statements, this is called nested if statements.

In [7]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [8]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [10]:
#Break Statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [11]:
#Continue Statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [13]:
#Looping Through String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [14]:
#break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [18]:
#Continue
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [20]:
#Nested Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [16]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [17]:
for x in range(2, 6):
  print(x)

2
3
4
5