<a href="https://colab.research.google.com/github/Anirudh-rao/Python-For-Noobs/blob/main/6_Data_Structures_in_Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures in Python

Python has some Special Data structures that can be used for different use cases

They are as Follows:

# List:

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# List Properties

**List Items**
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**Changeable**

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created

**Allow Duplicates**

Since lists are indexed, lists can have items with the same value:

In [2]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**List Length**

To determine how many items a list has, use the len() function:

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

**type()**

From Python's perspective, lists are defined as objects with the data type 'list':

In [4]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

**The list() Constructor**

It is also possible to use the list() constructor when creating a new list.

In [5]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

#

# List Functions:

**Access Items**

List items are indexed and you can access them by referring to the index number:

In [6]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [7]:
# negative indexs also can be used : IN this casse will return "cherry"
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [8]:
#Range Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

In [12]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**Change Intems with Index**

To change the value of a specific item, refer to the index number:

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

**Insert Items**

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**Append Items**

To add an item to the end of the list, use the append() method:

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**Insert Items**

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Remove Specified Item**

The remove() method removes the specified item.

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**Remove Specified Index**

The pop() method removes the specified index.

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

**List Comprehension**

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [20]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [21]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']